<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PragmaticTweets.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5CF8C91E1D69581D00593E07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CF8C9371D6A99BD00593E07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CF8C94B1D77A14500593E07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
